@model Parth.Models.Overview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Overview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmenteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.DepartmenteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardware.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardware.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.software.SoftwareName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.software.SoftwareName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OverviewId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
